In [1]:
import pandas as pd

In [2]:
data = {'Ф1':[0, 40, 50, 90, 110, 170, 180], 'Ф2':[0, 30, 80, 80, 150, 190, 200],'Ф3':[0, 40, 50, 100, 120, 180, 210]}
df = pd.DataFrame(data, index = [0, 100, 200, 300, 400, 500, 600])
df

      Ф1   Ф2   Ф3
0      0    0    0
100   40   30   40
200   50   80   50
300   90   80  100
400  110  150  120
500  170  190  180
600  180  200  210

In [54]:
capacity={}

for i in df.index:
    max_dict = {}
    for f1 in df.index:
        for f2 in df.index:
            if f1+f2 == i:
                a = df['Ф1'].loc[f1]+df['Ф2'].loc[f2]
                max_dict[a] = (f1,f2)
    m = max(list(max_dict.keys()))
    capacity[m] = max_dict[m]
df['Ф1_Ф2_опт'] = list(capacity.keys())
invest = df['Ф1_Ф2_опт'].idxmax()
col = df['Ф1_Ф2_опт'][::-1]
col.index = df['Ф3'].index
df['col'] = col
df['final'] = df['Ф3'] + df['col']
opt = max(df.final)
list_index_opt = df.index[df['final'] == opt].tolist()
i3_opt = list_index_opt[1]
f3_opt = df['Ф3'].loc[i3_opt]
i1_opt = capacity[opt - f3_opt][0]
i2_opt = capacity[opt - f3_opt][1]
f1_opt = df['Ф1'].loc[i1_opt]
f2_opt = df['Ф2'].loc[i2_opt]
print(f' Сумма инвестиций равна {invest}. \n Максимальная эффективность вложений по 3 фирмам составила {opt}.\n инвестиции в 1 фирму: {i1_opt}, отдача {f1_opt}; \n',
     f'инвестиции во 2 фирму: {i2_opt}, отдача {f2_opt}; \n инвестиции в 3 фирму: {i3_opt}, отдача {f3_opt}.')

 Сумма инвестиций равна 600.
 Максимальная эффективность вложений по 3 фирмам составила 230.
 инвестиции в 1 фирму: 100, отдача 40;
 инвестиции во 2 фирму: 400, отдача 150;
 инвестиции в 3 фирму: 100, отдача 40.